@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Employee List</h2>

<p>
    <a class="btn glyphicon glyphicon-plus" asp-action="Create"></a> |
    <a class="btn" asp-action="Filter">Filter</a>
</p>
<hr />
<div>
    @using (Html.BeginForm("Index", "employees", FormMethod.Get))
    {
        <p>
            Find by Name: @Html.TextBox("search")
            <input type="submit" value="Search"/>
            <button onclick="window.location.href='http://localhost:49551/employees';">Reset</button>
        </p>
    }
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer;"
                class="t-row"
                id="@("row_"+ item.ID)"
                onclick="window.location.href='@("http://localhost:49551/employees/Details/"+ item.ID)';">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnStartDateForDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnEndDateForDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
            </tr>
        }
    </tbody>
</table>
